//Definitely Not White
$dnw: #e9eaed;
$blue: #2c3e50;
$lightblue: #08b5bc;
$lightgray: #828282;
$darkgray: #232323;

//DofE colors
$volunteering: #e40046;
$physical: #e1c72c;
$skills: #009edc;
$expedition: #71a100;
$residential: #882581;
$dofebronze: #ba8748;
$dofesilver: #a7a9ac;
$dofegold: #b4975a;

//Width difference between mobile and others
$break: 768px;

body {
    background: $dnw;
    font-family: calibri;
    
    div.page-container {
        overflow: hidden;
        
        div.content {
            div.container-fluid {
                padding-left: 0;
                padding-right: 0;
                margin: 0;
                width: 100%;
                
                div.admin_side_nav {
                    background: $darkgray;
                    padding: 0;
                    color: gray;
                    font-weight: bold;
                    
                    div.navbar-header {                        
                        button {
                            margin-right: 25px;
                            background: white;
                            
                            span.icon-bar {
                                background: $darkgray;
                            }
                        }
                        
                        a {
                            text-decoration: none;
                            color: white;
                            line-height: 50px;
                            font-size: 1.4em;
                            margin-left: 15px;
                            height: 40px;
                            padding: 5px;
                        }
                        
                        @media (min-width: $break) {
                            & {
                                width: 100%;
                                text-align: center;
                                
                                a {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                    
                    div#admin_navbar {
                        padding: 0;
                        
                        ul.navigation {
                            list-style-type: none;
                            margin-bottom: 0;
                            padding-left: 0;
                            text-align: center;

                            li {
                                border-bottom: 1px solid gray;
                                border-right: 1px solid gray;
                                padding: 10px;

                                a {
                                    text-decoration: none;
                                    color: gray;

                                    &:hover {
                                        color: white;
                                    }
                                }

                                &.profile {   
                                    p {
                                        color: white;
                                    }

                                    a {
                                        overflow: hidden;

                                        img {
                                            margin: auto;
                                            border-radius: 5px;
                                        }
                                    }
                                }
                                
                                &.active {
                                    background: gray;
                                    font-weight: bold;
                                    
                                    a {
                                        color: white
                                    }
                                }
                            }
                        }
                    }
                }
                
                div.admin_main {
                    padding: 0;
                    background: $dnw;
                    
                    div.content {                        
                        div.page-heading {
                            h1 {
                                padding: 10px;
                                margin: 0;
                                text-align: center;
                            }
                        }
                        
                        div.section {
                            div.column {
                                div.content-box {      
                                    padding: 10px;
                                    
                                    form#addArticle {  
                                        div.col-lg-6 {
                                            div.form-group {
                                                textarea#content {
                                                    resize: none none;
                                                }
                                            }
                                        }
                                    }
                                    
                                    table {
                                        &.article-list,
                                        &.comment-list {
                                            tbody {
                                                tr {
                                                    td {
                                                        &.col-xs-1,
                                                        &.col-xs-2 {
                                                            a.list {
                                                                font-weight: bold;
                                                                color: gray;

                                                                &:hover, &:focus {
                                                                    text-decoration: none;
                                                                    color: black;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        div.container-fluid {
            @media (max-width: $break - 1px) {
                & {
                    padding: 0;
                    margin-left: 1%;
                    width: 98%;
                }
            }
            
            div.main-content {
                overflow: hidden;
                
                div.main-alert {
                    margin: 15px;
                    margin-bottom: -15px;
                }
                
                aside {
                    background: $dnw;
                    margin-top: 30px; 
                    
                    div.content {   
                        background: $dnw;
                        
                        div.section {
                            background: white;
                            margin-bottom: 30px;
                            box-shadow: 0px 0px 8px lightgray;
                            border-radius: 5px;
                            
                            div.section-header {
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                                height: 30px;
                                line-height: 30px;
                                text-align: center;
                                background: $blue;
                                color: white;
                                font-size: 1.2em;
                                font-weight: bold;
                            }
                            
                            div.section-content {
                                width: 100%;
                                border-radius: 0;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px; 
                                
                                div.search {
                                    input.search-query {
                                        padding-left: 15px;
                                        border-top-right-radius: 0;
                                        border-top-left-radius: 0;
                                        border: 0;
                                    }
                                    
                                    span.input-group-btn {
                                        button {
                                            border: 0;
                                            border-top-right-radius: 0;
                                            height: 34px;
                                            padding: 6px 13px 6px 12px;

                                            span.glyphicon-search {
                                                height: 20px;
                                                line-height: 20px;
                                            }
                                        }
                                    }
                                }
                                
                                ul.article-recent {
                                    list-style-type: none;
                                    padding: 0;
                                    margin: 0;
                                    
                                    li.article {
                                        height: 81px;
                                        padding: 15px;
                                        width: 100%;
                                        border-bottom: 1px solid lightgray;
                                        &:nth-of-type(5) {
                                            border-bottom-left-radius: 5px;
                                            border-bottom-right-radius: 5px;
                                        }
                                        
                                        &:last-of-type {
                                            border: 0;
                                        }
                                        
                                        a.thumbnail {
                                            height: 50px;
                                            width: 50px;
                                            margin: 0;
                                            margin-right: 10px;
                                            padding: 0;
                                            border: 0;
                                            float: left;

                                            img {
                                                height: 50px;
                                                width: 50px;
                                            }    
                                        }
                                        
                                        div.info {
                                            height: 22px;
                                            margin-bottom: 2px;
                                            margin-top: 5px;

                                            a.title {
                                                height: 18px;
                                                line-height: 18px;
                                                padding-top: 3px;
                                                padding-bottom: 3px;
                                                text-decoration: none;
                                                color: $blue;
                                                font-weight: bold;
                                            }

                                            div.meta {
                                                margin-top: 3px;
                                                height: 15px;

                                                p {
                                                    color: gray;

                                                    a {                                        
                                                        text-decoration: none;
                                                        color: gray;

                                                        &:hover, &:focus {
                                                            color: $blue;
                                                            text-decoration: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                div.main {
                    background: $dnw;
                    
                    @media (min-width: $break) {
                        & {
                            margin-top: 30px;
                        }
                    }
                    
                    @media (max-width: $break - 1px) {
                        & {
                            margin-top: 12px;
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                    }
                    
                    &.nomargin {
                        margin-top: 0;
                    }

                    div.content {
                        background: $dnw;
                        overflow: hidden;

                        div.section {
                            background: $dnw;
                            border-radius: 5px;
                            overflow: hidden;
                            
                            div.page-heading {
                                height: 64px;
                                background: white;
                                margin-bottom: 30px;
                                border-radius: 5px;
                                box-shadow: 0px 0px 8px lightgray;
                                
                                h1 {
                                    line-height: 64px;
                                    margin: 0;
                                    padding-left: 20px;
                                }
                            }

                            div.column {
                                float: left;
                                margin-bottom: 30px;
                                
                                &.image-slider {
                                    margin: auto;
                                }
                                
                                &.single {
                                    width: 100%;
                                }
                                
                                &.double {
                                    @media (max-width: 991px){
                                        padding-left: 0;
                                        padding-right: 0;
                                        width: 100%;
                                    }

                                    @media (min-width: 992px){                                        
                                        &:nth-of-type(2n+1) {
                                            padding-left: 0;
                                            clear: left;
                                            overflow: auto;
                                        }

                                        &:nth-of-type(2n) {
                                            padding-right: 0;
                                            clear: right
                                        }
                                    }
                                    
                                    background: $dnw;
                                }

                                &:nth-of-type(1) {
                                    margin-bottom: 30px;
                                }
                                
                                &.image {
                                    div.content-box {
                                        div.section-content {
                                            img {
                                                display: block;
                                                margin: auto;
                                            }
                                        }
                                    }
                                }
                                
                                &.gallery {
                                    @media (max-width: $break - 1px) {
                                        padding: 0;
                                        width: 100%;
                                    }
                                    
                                    @media (min-width: $break) {
                                        &:nth-of-type(2n) {
                                            padding-right: 0;
                                            padding-left: 15px;
                                        }
                                        
                                        &:nth-of-type(2n-1) {
                                            padding-right: 15px;
                                            padding-left: 0;
                                        }
                                    }
                                    
                                    @media (min-width: 992px) {                                        
                                        &:nth-of-type(4n-3) {
                                            padding-left: 0px;
                                            padding-right: 22.5px; 
                                        }
                                        
                                        &:nth-of-type(4n-2) {
                                            padding-right: 15px;
                                            padding-left: 7.5px;
                                        }

                                        &:nth-of-type(4n-1) {
                                            padding-left: 15px;
                                            padding-right: 7.5px;
                                        }
                                        
                                        &:nth-of-type(4n) {
                                            padding-left: 22.5px;
                                            padding-right: 0px;
                                        }
                                    }
                                    
                                    div.content-box {
                                        border-radius: 5px;
                                        
                                        div.gallery {
                                            border-radius: 5px;
                                            
                                            a {
                                                overflow: hidden;
                                                
                                                img {
                                                    display: block;
                                                    margin: auto;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            div.section-header {
                                height: 50px;
                                background: $blue;
                                border-top-right-radius: 5px;
                                border-top-left-radius: 5px;
                                line-height: 50px;
                                font-weight: bold;
                                text-align: center;
                                color: white;
                                font-size: 1.2em;
                                
                                &.striped {
                                    line-height: 45px;    
                                }
                                
                                &.comments {
                                    height: 35px;
                                    line-height: 35px;
                                    font-size: 1.4em;
                                }
                                
                                &.image {
                                    height: auto;
                                    background: white;
                                    padding: 15px;
                                    padding-bottom: 5px;
                                    
                                    div.thumbnail {
                                        margin-bottom: 0;
                                        border-bottom-left-radius: 0;
                                        border-bottom-right-radius: 0;
                                    }
                                }

                                div.color-stripe {
                                    height: 5px;
                                    width: 100%;
                                    border-top-right-radius: 5px;
                                    border-top-left-radius: 5px;

                                    &.volunteering {
                                        background: $volunteering;
                                    }

                                    &.expedition {
                                        background: $expedition;
                                    }
                                }
                            }

                            div.section-content {
                                padding: 5px;
                                background: white;
                                border-bottom-right-radius: 5px;
                                border-bottom-left-radius: 5px;
                                
                                &.participants {
                                    overflow: hidden;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    
                                    div.person {
                                        overflow: hidden;
                                        margin-top: 25px;
                                        
                                        div.col-xs-6 {
                                            padding: 0;
                                            
                                            img {
                                                padding: 15px;
                                                margin: auto;
                                            }
                                            
                                            blockquote {
                                                font-size: 1.15em;
                                                
                                                footer {
                                                    background: none;
                                                    font-size: 1em;
                                                }
                                            }
                                        }
                                        
                                        div.navigation {
                                            button {       
                                                background: none;
                                                border: 0;
                                                
                                                &.previous {
                                                    clear: both;
                                                    float: left;
                                                }
                                                
                                                &.next {
                                                    float: right;
                                                }
                                            }
                                        }
                                    }
                                }
                                
                                &.about {
                                    ul {
                                        color: $darkgray;
                                        list-style-type: none;
                                        padding-left: 0;
                                        margin-bottom: 0;
                                        
                                        li {
                                            padding: 5px;
                                            text-align: justify;
                                            
                                            h4 {
                                                margin-top: 5px;
                                                margin-bottom: 5px;
                                            }
                                        }
                                    }
                                }
                                
                                &.pagination {
                                    margin: 0;
                                    width: 100%;
                                    
                                    ul {
                                        margin: 0;
                                        padding-left: 5px;
                                        padding-right: 5px;
                                        overflow: hidden;
                                        
                                        li {
                                            overflow: hidden;
                                            width: auto;
                                            
                                            &:first-of-type {
                                                float: left;
                                            }
                                            
                                            &:last-of-type {
                                                float: right;
                                            }
                                            
                                            a {
                                                text-decoration: none;
                                                color: gray;
                                            }
                                        }
                                    }
                                }
                                
                                &.comments {
                                    padding: 0;
                                    border-bottom-left-radius: 5px;
                                    border-bottom-right-radius: 5px;
                                    
                                    ul.comments {
                                        list-style-type: none;
                                        padding: 0;
                                        margin: 0;
                                        
                                        li.comment {
                                            padding: 10px;
                                            border-bottom: 1px solid lightgray;
                                            
                                            div.avatar {
                                                width: 50px;
                                                float: left;
                                                
                                                img {
                                                    height: 50px;
                                                    width: 50px;
                                                }
                                            }
                                            
                                            div.info {
                                                margin-left: 60px;
                                                margin-bottom: 5px;
                                                height: 25px;
                                                
                                                a {
                                                    color: $blue;
                                                    text-decoration: none;
                                                    margin-right: 5px;
                                                    
                                                    &:hover, &:focus {
                                                        color: black;
                                                    }
                                                }
                                                
                                                h4,
                                                p {
                                                    display: inline;
                                                    line-height: 25px;
                                                }
                                                
                                                h4 {
                                                    font-size: 1.4em;
                                                }
                                                
                                                p {
                                                    color: gray;
                                                }
                                            }
                                            
                                            div.content_area {
                                                margin-left: 60px;
                                                
                                                p.comment {
                                                    color: gray;
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                        
                                        li.comment_help {
                                            padding: 10px;
                                            border-bottom-right-radius: 5px;
                                            border-bottom-left-radius: 5px;
                                            
                                            h3 {
                                                color: gray;
                                                text-align: center;
                                                margin: 0;
                                            }
                                        }
                                        
                                        li.comment_form {
                                            padding: 10px;
                                            border-bottom-right-radius: 5px;
                                            border-bottom-left-radius: 5px;
                                            
                                            div.comment_form {
                                                h3.heading {
                                                    margin-top: 10px;
                                                    margin-bottom: 0;
                                                    margin-left: 60px;
                                                    font-size: 1.4em;
                                                    color: $blue;
                                                }
                                                
                                                form.comment_form {
                                                    margin-left: 60px;
                                                    margin-right: 60px;
                                                    margin-bottom: 15px;
                                                    
                                                    textarea {
                                                        resize: none;
                                                        height: 120px;
                                                        width: 100%;
                                                        background: lightgray;
                                                        border: 1px solid lightgray;
                                                        font-size: 1.2em;
                                                        padding: 5px 5px;
                                                    }
                                                    
                                                    input.comment_submit {
                                                        border: 1px solid lightgray;
                                                        background: lightgray;
                                                        color: $blue;
                                                        height: 30px;
                                                        line-height: 26px;
                                                        font-size: 1.2em;
                                                        width:120px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                
                                &.post {
                                    color: gray;
                                    padding: 20px;
                                    padding-bottom: 15px;
                                    padding-top: 0px;
                                    border-bottom-left-radius: 5px;
                                    border-bottom-right-radius: 5px;
                                    
                                    h2.title {
                                        color: $blue;
                                        margin: 0;
                                        margin-bottom: 5px;
                                        font-weight: bold;
                                        font-size: 1.4em;
                                    }
                                    
                                    div.meta {
                                        margin-bottom: 5px;
                                        font-size: 0.9em;
                                        
                                        p {
                                            margin: 0;
                                            
                                            a {
                                                text-decoration: none;
                                                color: gray;
                                                
                                                &:hover, &:focus {
                                                    color: $blue;
                                                }
                                            }
                                        }
                                    }
                                }
                                
                                &.article {
                                    border-radius: 5px;
                                    
                                    div.meta {
                                        margin-bottom: 10px;
                                    }
                                    
                                    div.text {
                                        p.text {
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }    
                }
            }        
        }
        
        header {
            @media (max-width: $break - 1px) {
                div.container-fluid {
                    margin-left: 5%;
                    width: 90%;
                }

                nav.navigation {  
                    font-weight: bold;

                    button.menu {
                        &, &:hover, &:focus {
                            background: white;
                            height: 35px;
                            margin-top: 35px;
                        }   

                        span.icon-bar {
                            background: $blue;
                        }
                    }

                    img[alt="DofE logo"] {
                        padding:5px;
                        padding-bottom: 15px;    
                    }

                    ul.navigation {
                        margin-bottom: 0;

                        li.active {
                            background: $lightblue;

                            a {
                                &, &:hover, &:focus {
                                    background: $lightblue;
                                }
                            }
                        }

                        &:nth-of-type(1) {
                            margin-bottom: 0;
                        }

                        &:nth-of-type(2) {
                            margin-top: 0;
                        }
                    }
                    
                    ul.login-menu {
                        li {
                            div.visible-xs {
                                height: 40px;
                                
                                a {
                                    float: left;
                                    color: gray;
                                    
                                    &.menu-item {
                                        padding: 10px;
                                        
                                        &:last-of-type {
                                            padding-right: 15px;
                                        }
                                        
                                        &:hover, &:focus {
                                            text-decoration: none;
                                            color: white;
                                        }
                                    }
                                }
                                
                                div.divider {
                                    float: left;
                                    width: 2px;
                                    height: 32px;
                                    margin-top: 4px;
                                    background: gray;
                                }
                            }
                        }
                    }

                    ul.login-box {
                        height: 40px;
                        margin-top: 0;
                        margin-bottom: 10px;

                        li,
                        li.active {
                            margin: 0;

                            a.borderless {
                                height: 40px;
                                margin: 0;
                                padding: 0;
                                padding-left: 15px;
                                margin-top: 0;

                                img {
                                    height: 34px;
                                    width: 34px;
                                    margin-top: 3px;
                                    margin-left: 10px;
                                    
                                    @media (max-width: $break) {
                                        &.avatar {
                                            margin-left: 0px;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }    
                        }
                    }
                }
            }
            
            @media (min-width: $break) {
                nav.navigation {
                    img[alt="DofE logo"] {
                        padding: 10px;
                        padding-left: 15px;
                    }

                    ul.navigation {
                        height: 103px;
                        line-height: 103px;

                        li {
                            height: 103px;
                            line-height: 103px;
                            font-weight: bold;

                            a {
                                line-height: 23px;
                                font-size: 1.2em;
                                padding: 0;
                                margin-left: 20px;
                                margin-top: 40px;
                                margin-bottom: 40px;
                                color: $lightgray;
                            }

                            a.border {
                                border-bottom: 2px solid $lightgray; 

                                &:hover, &:focus {
                                    border-bottom: 2px solid white;
                                    color: white;
                                }
                            }
                        }

                        li.active {
                            &, &:hover, &:focus {
                                background: $blue;
                            }   

                            a {
                                &, &:hover, &:focus {
                                    background: $blue;
                                    color: white;
                                }    
                            }

                            a.border {
                                border-bottom: 2px solid white; 

                                &:hover, &:focus {
                                    border-bottom: 2px solid white;
                                }
                            }
                        }    
                    }

                    ul.login-box {
                        margin-right: 0;

                        li,
                        li.active {
                            div.dropdown {
                                height: 76px;
                                
                                ul.dropdown-menu {
                                    width: 180px;
                                    padding-bottom: 0;
                                    
                                    li {
                                        &.divider {
                                            height: 1px;
                                            margin-top: 1px;
                                            margin-bottom: 1px;
                                        }
                                        
                                        &.header {
                                            height: 26px;
                                            line-height: 21px;
                                            padding: 5px;
                                            padding-top: 0px;
                                            padding-left: 10px;
                                        }
                                        
                                        &, &.active {
                                            font-size: 1em;
                                            margin: 0;
                                            height: 26px;
                                            
                                            &:last-of-type {
                                                border-bottom-right-radius: 3px;
                                                border-bottom-left-radius: 3px;
                                            }
                                            
                                            a {
                                                color: $darkgray;
                                                background: white;
                                                height: 26px;
                                                margin: 0;
                                                line-height: 16px;
                                                padding: 5px;
                                                padding-left: 10px;
                                                font-size: 1em;
                                            
                                                &:hover, &:focus {
                                                    background: $lightblue;
                                                    color: $dnw;
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                    }
                                }
                                
                                button.borderless {
                                    margin: 0;
                                    margin-top: 26px;
                                    padding: 0;
                                    border: 0;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }   
            }
            
            nav.navigation {
                margin-bottom: 0;
                border-radius: 0;
                background: $blue;
                border: 1px solid $blue;
                
                @media (max-width: $break - 1px) {
                    & {
                        font-weight: bold;
                    }
                }
                
                ul.login-box {
                    li,
                    li.active {
                        a.borderless {
                            margin-right: 0px;
                        }

                        p,
                        img {
                            display: inline;
                            float: left;
                        }

                        p {
                            height: 32px;

                            @media (max-width: $break - 1px) {
                                & {
                                    line-height: 32px;
                                }
                            }
                        }

                        img {
                            height: 50px;
                            border-radius: 5px;
                        }
                    }
                    
                    li {
                        a.borderless {
                            &:hover, &:focus {
                                color: white;
                            }
                        }
                        
                        &.active {
                            a.borderless {
                                color: white;
                            }
                        }
                    }
                }
                
                ul.search {
                    li {
                        div.search {
                            input.search-query {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div#login_modal {
    div.modal-dialog {
        div.modal-content {
            div.modal-body {
                form.form-signin {
                    max-width: 330px;
                    padding: 15px;
                    margin: 0 auto;
                    
                    h3.form-signin-heading {
                        margin-bottom: 10px;
                    }
                    
                    input.form-control {
                        position: relative;
                        height: auto;
                        -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                                box-sizing: border-box;
                        padding: 10px;
                        font-size: 16px;
                    }

                    input.form-control:focus {
                        z-index: 2;
                    }

                    input[type="text"] {
                        margin-bottom: -1px;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    input[type="password"] {
                        margin-bottom: 10px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
            }
        }
    }
}

footer {
    background: $darkgray;
    
    div.container-fluid {
        div.content {
            overflow: hidden;
            
            div.section.footer-list {
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 0;
                
                h4 {
                    margin: 0;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    text-align: center;
                    color: white;
                }
                
                ul.footer-list {
                    color: gray;
                    list-style-type: none;
                    margin-bottom: 0;
                    padding-left: 0;
                    
                    li {                        
                        a {
                        
                        }
                    }
                }
            }
        }
    }
}